/* ASSIGNMENT NO. 10 : TO DO APP */
body  {

text-align: center;


}

.btn {

background-color: aqua;
border-radius: 5px;

}


.list {

text-align: left;



}

.fieldsets {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 20px groove (internal value);
  }


  .text {

text-align: left;
color: darkblue;


  }

  .header {

    text-decoration: underline;

  }